
.sidebar {
  background: var(--White);
  border: 1px solid var(--Bright-Gray );
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding-bottom: 35px;
  width: 155px;
}

.menuItem {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: var( --Gray ) ;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.2s ease;
  height: 94px;
  margin-bottom: 8px;
  padding: 14px 7px; 
}
.menuItem:hover {
  color: #ff6600;
}
.menuContent{
  margin-left: 25%;
align-items: center;
}

.icon {
  font-size: 32px;
   color: var(--Gray);

}

.label {
    font-size: 14px;
  font-family: var(--font-regular);
}


@media (max-width: 1199.98px) {

  .label {
   font-size: 12px;
  }
  .icon {
  display: flex;
  font-size: 24px;
}
}
