.propertyDetailsBox {
  background-color: var(--White);
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  margin-top: 24px;
  padding-bottom: 20px;
}

.sectionTitle {
  padding: 20px 20px 18px;
  border-bottom: 4px solid var(--Cultured);
  font-size: 18px;
  margin: 0;
 font-family: var(--font-semibold);
}

.propertyDetailsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 24px 50px;
  padding: 41px 0px 0px 20px;
}


.label {
  font-family: var(--font-regular);
  font-size: 14px;
  color: var(--Spanish-Gray);
  margin-bottom: 10px;
}

.value {
  font-family: var(--font-regular);
  font-size: 16px;
  color: var(--Eerie-Black);
}

.viewMore {
  font-size: 14px;
  font-family: var(--font-regular);
  margin-left: 20px;
  border: none;
  background: var(--White);
  color: var(--Orange-Red);
  margin-top: 6px;
  cursor: pointer;
  display: inline-block;
  transition: color 0.3s ease;
}
@media (max-width:1199.98px){
  .propertyDetailsGrid {
  grid-template-columns: repeat(3, 1fr); 
}
  
}