
.images {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mainImage {
  width: 100%;
  height: 267px;
  object-fit: cover;
  border-radius: 8px;
}

.subimages {
  display: flex;
  gap: 12px;
}

.subimages img {
  width: 50%;
  height: 277px;   /* dono images ek hi height me rahenge */
  object-fit: cover;
  border-radius: 8px;
}
@media (max-width:1198.98px){
  .subimages {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.subimages img {
  width: 47%;
}
}