.homeLoanContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("/homeloan.png") no-repeat center center/cover;
  height: 551px;
}
.homeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 356px;
  gap: 30px;
}
.loanInfo {
    display: flex;
    flex-direction: column;
  color:var(--White);
}

.loanInfo h1 {
font-size: clamp(16px, 3.2vw, 47px);
  margin-bottom: 20px;
}
.icon{
    color: var(--Orange-Red);
}
.loanInfo ul {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 30px ;
}

.loanInfo ul li {
font-size: clamp(12px, 1.5vw, 19px);
}

.loanInfo a {
  color: var(--Orange-Red);
  text-decoration: none;
font-size: clamp(12px, 1vw, 16px);
font-family: var(--font-bold);
}
.ApplyBtn{
    display: none;
  background-color: var(--Orange-Red);
  color: var(--White);
  font-family: var(--font-regular);
  font-size: 14px;
  border: none;
  text-transform: capitalize;
  border-radius: 24px;
  padding: 10px 67px;
  width: auto;
  max-width: fit-content;
  cursor: pointer;
  margin-top: 9px;
}
.loanForm {
  background: var(--White);
  padding: 20px;
  border-radius: 10px;
  width: clamp(280px, 40vw, 460px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


.loanForm-input {
  width: 100%;
  padding: 11px 10px;
  margin-bottom: 15px ;
  border: 1px solid var(  --Lavender-Gray);
  border-radius: 8px;
  font-size: 12px;
}

.propertyCheck {
  display: block;
font-size: 12px;
font-family: var(--font-bold);
}

.radioOptions {
  display: flex;
  gap: 20px;
  margin: 10px 0 20px 0;
}
.radio-input{
  margin-right: 7px;
}
.submitBtn {
  width: 100%;
  padding: 10px;
  background: var(--Orange-Red);
  border: none;
  border-radius: 8px;
  color: var(--White);
  font-weight: bold;
  cursor: pointer;
}


.disclaimer {
  font-size: 0.8rem;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}
@media (max-width: 1200px) {
  .homeLoanContainer {
    height: 450px;
  }
  .homeContainer {
    gap: 20px;
  }
      .loanInfo ul {
    gap: 15px;
  }
}
@media (max-width: 992px) {
  .homeLoanContainer {
    padding: 20px 0;
    gap: 20px;
  }
  .homeContainer {
    width: 100%;
  }
  .ApplyBtn{
    display: inline-block;
  }
  .loanInfo{
    width: auto;
  }
.loanForm{
  display: none;
}

}
@media (max-width: 576px) {
  .loanForm {
    width: 100%;
    max-width: 100%;
  }
    .loanInfo ul {
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .homeLoanContainer {
height: 254px !important;
  }
  .homeContainer{
    height: 100%;
  }
}
