/* src/Components/All-Breadcrumbs/Breadcrumbs.module.css */

.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  /* color: var(--Eerie-Black);  */
}

.item {
  display: flex;
  align-items: center;
}

.homeLink,
.link {
  /* color: var(--Eerie-Black);  */
  text-decoration: none;
}

.homeLink:hover,
.link:hover {
  text-decoration: underline;
}

/* .current {
  color: #1f2937; 
} */

.separator {
  margin: 0 0.5rem; 
  color: var( --Spanish-Gray); /* Lighter color for separator */
}