
.property-activity {
padding-top: 51px;
}
.property-stats{
background-color: var(--White);
border-radius: 12px;
padding: 30px 30px 20px 20px ;
margin-bottom: 24px;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

}
.stats-h4{
border-bottom: 1px solid var(--Gray);
padding-bottom: 10px;
margin-bottom: 10px;
}

.activity-stats {
display: flex;
align-items: center;
justify-content: space-evenly;
line-height: 100%;
letter-spacing: 0%;
}
.active-content{
background-color: var(--off-white);
text-align: center;
border-radius: 5px;
padding: 8px;
}
.active-para {
font-size: 12px;
  font-family:var(--font-regular);
color: var(--Gray);
}

.stats-icon {
font-size: 18px;
margin-right: 8px;
color: var(--Orange-Red);
}

.stat-number {
font-size: 12px;
font-family:var(--font-regular);
margin-right: 5px;
}
.report-stats{
  display: inline-block;
  border: 1px solid var(--Cultured); 
  padding: 6px 14px;
  margin-top: 25px;
  margin-left: 28px;

}
.report-icon{
  color: var( --Tart-Orange); 
  margin-right: 7px;
}
.report-btn {
background: none;
color: var( --Tart-Orange);
border: none;
cursor: pointer;
font-size: 14px;
}

.download-btn {
  width: 100%;
background-color: var(--Orange-Red);
color: var(--White);
border: none;
padding: 10px 20px;
border-radius: 6px;
cursor: pointer;
} 
