
.description-container{
    padding-top: 30px;
}


.property-description {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.h3-description {
  border-bottom:4px solid var(--Cultured);
  margin-bottom: 1rem;
  padding: 20px;
}

.description-para {
  padding: 20px 30px 70px 30px;
  line-height: 1.6;
  color: #333;
}
