.property-price-details-box {
  background-color: var(--White);
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  margin-top: 24px;
  padding-bottom: 20px;
}

.property-section-title {
 padding: 20px 20px 18px;
border-bottom: 4px solid var(--Cultured);
  font-size: 18px;
  margin: 0;
 font-family: var(--font-semibold);
}

.property-price-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 32px;
  padding: 41px 20px 0px 20px;

}

.property-label {
  font-size: 14px;
  font-family: var(--font-regular);
  color: var(--Spanish-Gray);
}

.property-value {
  font-size: 16px;
  font-family: var(--font-regular);
    color: var(--Eerie-Black);

}

.property-view-more {
  font-size: 14px;
  font-family: var(--font-regular);
  margin-left: 20px;
  border: none;
  background: var(--White);
  color: var(--Orange-Red);
  margin-top: 6px;
  cursor: pointer;
  display: inline-block;
  transition: color 0.3s ease;
}
@media (max-width:1199.98px){
  .property-price-grid {
  grid-template-columns: repeat(2, 1fr); 
}
  
}
