.sub-header{
    background-color: var(--White);
    padding: 20px 0;
}
.price {
  color: green;
  margin-left: 7px;
}
.rent-label {
  background-color: var(--Orange-Red);
  color: white;
  padding: 2px 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
  width: fit-content;
  margin-right: 7px;
}
.description,
.state{
    font-family: var(--font-medium);
    font-size: 18px;
}


.gallery-icon img {
  width: 32px;
  height: 32px;
  margin-left: 12px;
  cursor: pointer;
}

.gallery {
  background-color: var(--off-white);
  padding-top: 11px;
  display: flex;
}

.gallery-content {
  display: flex;
  gap: 12px;
}
.project-thumb-img,
.project-img,
.featured-img{
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.side-images{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.overlay-view{
  gap: 24px;
}

.view-more {
  position: relative;
}

.overlay-text {
  position: absolute;
  bottom: 12px;
  left: 12px;
  color: white;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5);
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
}
