.aboutProject-container {
  border: 1px solid var(--Platnium);
  border-radius: 8px;
  background-color: var(--White);
  padding: 20px;
  margin-top: 50px;
}

.aboutProject-highlights {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 24px;
}

.aboutProject-box {
  border: 1px solid var(--Platnium);
  padding: 16px 0;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
}
.cert-icon,
.aboutProject-icon{
  color: var(--Orange-Red);
  font-size: 20px;
}
.aboutProject-box span {
  font-size: 16px;
  font-family: var(--font-semibold);
  margin-right: 8px;
}

.aboutProject-box p {
  font-size: 16px;
  font-family: var(--font-regular);
  color: var(--Eerie-Black);
  margin-top: 4px;
}

.aboutProject-certificates {
  border: 1px solid var(--Platnium);
  padding: 20px;
  border-radius: 6px;
}

.aboutProject-cert-list {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  margin: 12px 0;
}
.aboutProject-para-box{
 font-size: 16px;
  font-family: var(--font-regular);
  color: var(--Eerie-Black);

}
.aboutProject-cert-box {
  padding: 10px 14px;
  gap: 6px;
  font-size: 16px;
  font-family: var(--font-regular);
  border-right:1px solid var(--Platnium)  ;
  color: var(--Eerie-Black);
}
.aboutProject-cert-box:first-child,
.aboutProject-cert-box:last-child {
  border-right: none;
}
.aboutProject-view-all {
  font-size: 14px;
  color: var(--Orange-Red);
  text-decoration: none;
  font-family: var(--font-medium);
}

.aboutProject-whybuy {
  margin-top: 32px;
}

.aboutProject-whybuy-title {
  font-size: 23px;
  font-family: var(--font-medium);
  margin-bottom: 12px;
}

.aboutProject-whybuy-list {
  padding-left: 16px;
  list-style-type: decimal;
  color: var(--Eerie-Black);
}
.whybuy-li{
  font-size: 16px;
  font-family: var(--font-regular);
}

.aboutProject-more-link {
  display: inline-block;
  margin-top: 10px;
  color: var(--Orange-Red);
  text-decoration: none;
}

.aboutProject-brochure-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
  padding: 10px 16px;
  background: var(--White);
  color: var(--Orange-Red);
  border: 1px solid var(--Orange-Red);
  border-radius: 6px;
  font-size: 16px;
  font-family: var(--font-medium);
  cursor: pointer;
}
