.card {
  display: flex;
  padding: 10px;
  border: 1px solid var(--Orange-Red);
  border-radius: 10px;
  margin: 20px 0;
  background: var(--White);
  align-items: center;
  gap: 24px;
  width: 100%;
  height: 249px;
}

.image-card {
  width: 284px;
  height: 229px;
  flex-shrink: 1;
  object-fit: cover;
  border-radius: 10px;
}

.imageContainer {
  position: relative;
}

.badge {
  position: absolute;
  top: 0px;
  left: 0px;
  background: var(--Orange-Red);
  color: var(--White);
  font-size: 12px;
  padding: 2px 30px;
  border-top-left-radius: 10px;
  font-weight: bold;
}
.tagIconOnImage {
  position: absolute;
  top: 8px;
  right: 8px;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px 0;
  border-radius: 25px;
  font-size: 44px;
  color: var(--Eerie-Black);
}

.cardCenter {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleRow h3 {
  font-size: clamp(13px, 2.5vw, 16px);
  font-family: var(--font-regular);
  margin: 0;
}

.shareIcon {
  font-size: 16px;
  color: var(--Gray);
  cursor: pointer;
}
.locationIcon {
  color: var(--Orange-Red);
  font-size: 14px;
  /* margin-top: 4px;   */
}
.location {
  font-size: clamp(12px, 2vw, 14px);
  margin-top: 4px;
}

.cardtags {
  display: flex;
  gap: 8px;
  margin: 8px 0;
}
.card-icon {
  font-size: 16px;
}
.cardtag {
  border: 1px solid var(--Orange-Red);
  background-color: var(--Misty-Rose);
  padding: 4px 8px;
  font-size: clamp(10px, 1.8vw, 12px);
  border-radius: 4px;
}

.owner {
  font-size: clamp(12px, 1.8vw, 14px);
  color: var(--Orange-Red);
  margin: 8px;
}
.details {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.details p {
  margin: 4px 0;
  font-size: clamp(11px, 1.8vw, 13px);
  display: flex;
  align-items: center;
  gap: 6px;
}
.card-check {
  color: var(--Slimy-Green);
  font-size: 16px;
}
.description {
  font-size: clamp(11px, 2vw, 13px);
  color: var(--Gray);
  margin-top: 6px;
}

.pricesection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--off-white);
  width: 196px;
  height: 222px;
  border-radius: 10px;
  padding: 0px 10px;
}

.price {
  color: var(--Slimy-Green);
  font-size: clamp(16px, 2.5vw, 18px);
  font-family: var(--font-bold);
  margin-bottom: 12px;
}

.button {
  font-size: clamp(12px, 1.8vw, 16px);
  font-family: var(--font-regular);
  padding: 8px 12px;
  background: var(--Orange-Red);
  color: var(--White);
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.card-icon,
.card-check,
.shareIcon,
.locationIcon {
  font-size: clamp(14px, 2vw, 16px);
}
@media (max-width: 1270px) {
  .card {
    padding: 5px;
    height: auto;
  }

  .image-card {
    width: 180px;
  }

  .cardCenter {
    flex: 1;
  }

  .pricesection {
    width: 160px;
    padding: 8px;
  }

  /* .button {
    font-size: clamp(11px, 2vw, 14px);
    padding: 6px 10px;
  } */
}
@media (max-width: 768px) {
  .card {
    flex-direction: column;
    height: auto;
  }
  .cardleft,
  .imageContainer {
    width: 100%; 
  }
  .image-card {
    width: 100%;
  }
  .cardright,
  .pricesection {
    width: 100%;
    height: auto;
  }
  .button{
    width:100%
  }
}
