.projectdetailsherosection{
    /* width: 100%; */
    height: 610px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 50px 0; */

    background-image: url('/project_details_hero.png');
}
.herosection{
    width: 1440px;
    height: 505px;
    display: flex;
    justify-content: space-between;
}
.contentsection{
    width: 442px;
    height: 505px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.logosection{
    width: 152px;
    height: 119px;
    background-image: url('/salford_logo.png');
    
    
}
.infodiv{
    width: 442px;
    height: 425px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info{
    padding: 16px;
    border-radius: 12px;
    background: #2E2B2B80;
    backdrop-filter: blur(12px);
    


}
.infoinner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--White);
}
#info1inner{
    width: 410px;
    height: 154px;

}
#info2inner{
    width: 380px;
    height: 183px;
}
#info1{
    width: 442px;
    height: 186px;
}
#info2{

    width: 412px;
    height: 215px;
}
.contentbtn{
    width: 215px;
    height: 51px;

    padding: 16px 32px;
    border-radius: 6px;
}
.rarea, .builder, .bhk, .posession{
    font-family: var(--font-regular);
    font-size: 19px;
    
}
.name,.price{
    font-family: var(--font-semibold);
    font-size: 48px;

}
.second {
    width: 100%;
    height: 400px;
}
