.projectSection {
  border: 1px solid var(--Platnium);
  border-radius: 8px;
  background-color: var(--White);
  padding: 20px;
  margin-top: 50px;
}

.projectHeading {
  font-size: clamp(16px, 2.29vw, 33px);
  font-family: var(--font-semibold);
  font-size: clamp(8px, 2vw, 24px);
}

.projectSubheading {
  font-size: clamp(14px, 1.31vw, 19px);
  color: var(--Eerie-Black);
  font-size: clamp(15px, 2vw, 24px);
}

.carouselWrapper {
  width: 100%;
  margin: auto;
}

.carouselTrackWrapper {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  display: flex;
  width: 100%;
}
.carouselTrack {
  display: flex;
  gap: 18px;
  transition: transform 0.5s ease-in-out;
}

.carouselImg {
  width: 324px;
  height: 247px;
  border-radius: 8px;
  scroll-snap-align: start;
  object-fit: cover;
}

.photoControls {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: clamp(18px, 2vw, 30px);
  margin-bottom: clamp(18px, 4vw, 40px);
}

.seeAll {
  font-size: 14px;
  color: var(--Orange-Red);
  font-family: var(--font-semibold);
  text-decoration: none;
}

.arrows {
  position: absolute;
  display: flex;
  left: 50%;
  gap: 1rem;
}

.arrowBtn {
  background: var(--White);
  color: var(--Orange-Red);
  border: none;
  border-radius: 50%;
  padding: 0.6rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.reviewHeading {
  font-size: clamp(14px, 2vw, 23px);
  font-family: var(--font-medium);
  margin-bottom: clamp(15px, 2vw, 24px);
}

.reviewsRow {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.reviewCard {
  flex: 1;
  min-width: 280px;
  border-right: 1px solid #ddd;
  padding-right: 1.5rem;
}

.reviewCard:last-child {
  border-right: none;
}

.reviewHeader {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.avatar {
  background: #ddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.reviewName {
  font-size: clamp(14px, 1.21vw, 19px);
  font-family: var(--font-medium);
  margin: 0;
}

.reviewRole {
  font-size: clamp(14px, 1vw, 16px);
  color: var(--Gray);
  margin: 0;
}

.reviewMeta {
  margin-left: auto;
  text-align: right;
}

.stars {
  color: #ccc;
  display: flex;
  justify-content: flex-end;
}

.star {
  margin-left: 2px;
  filter: drop-shadow(1px 1px 1px var(--Selective-Yellow));
}

.filled {
  color: var(--Selective-Yellow);
}

.reviewDate {
  font-size: clamp(14px, 1vw, 16px);
  color: var(--Gray);
}

.reviewTitle {
  font-size: clamp(14px, 1.5vw, 27px);
  font-family: var(--font-medium);
  margin-bottom: 0.5rem;
}

.reviewContent {
  font-size: clamp(14px, 1vw, 16px);
  color: var(--Gray);
}

.writeReviewBtn {
  margin-top: 1.5rem;
  background: var(--Orange-Red);
  color: var(--White);
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 25px;
  font-size: clamp(14px, 1vw, 16px);
  font-family: var(--font-regular);
  cursor: pointer;
  transition: background 0.3s ease;
}

@media (max-width: 768px) {
  .arrows {
    display: none;
  }
  .reviewsRow {
    flex-direction: column;
  }
  .reviewCard {
    border-right: none !important ;
    border-bottom: 1px solid #ddd;
  }
  .reviewCard:last-child {
    border-bottom: none;
  }
}
