.listing{
     border: 1px solid var(--Platnium);
  border-radius: 8px;
  background-color: var(--White);
  padding: 24px;
  margin-top: 50px;
}

.pagination {
  display: flex;
  justify-content: right;
  gap: 8px;
  margin: 14px 0;
}

.pageButton {
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  background-color: white;
  border: none;
  color: #333;
  cursor: pointer;
  border-radius: 4px;
}

.pageButton:hover:not(:disabled)  {
  background-color: #f0f0f0;
}
.pageButton:disabled {
  cursor: default;
  color: #999;
  background: transparent;
  border: none;
}
.active {
  background-color: orange;
  color: white;
  font-weight: bold;
  border-color: orange;
}
.propertyListWrapper {
  min-height: 600px; 
  position: relative;
}

.loader {
  text-align: center;
  padding: 40px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  animation: fadeIn 0.3s ease-in-out;
}
.loader::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  border: 3px solid #ff6600;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1199.98px) { 
.listing{
  display: none;
}
.pagination{
   display: none;
}
 }