/* styles/TestimonialCard.module.css */

.testimonial-card {
background-color: #fff;
border-radius: 8px;
border: 1px solid #e0e0e0;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
padding: 25px;
display: flex;
flex-direction: column;
justify-content: space-between;
text-align: left;
}

.testimonial-text {
margin-bottom: 20px;
}

.read-more {
color: #333; 
cursor: pointer;
font-weight: bold;
font-family: var(--font-semibold);
}

.testimonial-footer {
display: flex;
align-items: center;
}

.avatar {
margin-right: 15px;
object-fit: cover;
border-radius: 4px;
}



.rating {
color: var(--Selective-Yellow);
font-size: 16px;
}
.author-info {
display: flex;
flex-direction: row;
align-items: center;
gap: 5px;
margin-top: 5px;
}
.author-name {
font-family: var(--font-medium);
color: #333;
margin: 0;
}

.author-location {
color: #777;
margin: 0;
}