.profilesection {
  display: flex;
  gap: 54px;
  padding-right: 20px;
}

.left {
  display: flex;
  flex-direction: column;
}

.agentImage {
  object-fit: contain;
}
.groupBtn{
  display: flex;
  flex-direction:column;
align-self:center;

}
.viewNumber {
  margin-top: 10px;
  background: var(--Orange-Red);
  color: var(--White);
  border: none;
  padding: 8px 15px ;
  border-radius: 6px;
  cursor: pointer;
  font-family: var(--font-regular);
  font-size: clamp(12px, 1.5vw, 16px);
}
  

.sendmsg{
  display: none;
  margin-top: 10px;
  background: var(  --off-white);
  border: none;
  padding: 8px 4px ;
  border-radius: 6px;
  cursor: pointer;
  font-family: var(--font-regular);
  font-size: clamp(12px, 1.5vw, 16px);
}
.icon {
  margin-right: 6px;
  vertical-align: middle;
}
.company,
.agentName {
  font-size: clamp(16px, 2.5vw, 23px);
  font-family: var(--font-medium);
}
.agentName{
  padding: 10px 0;
  margin: 0;
}
.company {
  color: var(--Orange-Red);
  margin-bottom: 10px;
}

.rating {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
   color: var(--Slimy-Green);
}
.starIcon {
  color: var(--Orange-Red);
  margin-right: 5px;
}
.statsRow {
  display: flex;
  margin-top: 24px;
}
.statscount{
border-left: 1px solid ;
padding: 10px;

}
.statscount:first-child{
  border-left:none;
}
.statscount h3{
 font-size: clamp(16px, 2vw, 19px);}
.statscount p{
  font-size: clamp(14px, 1.5vw, 16px);
  margin: 0;

}


.bottomcontent{
  display: flex;
  flex-direction: column;
}
.operatesIn,
.dealsIn{
  padding: 10px 0;
}
.operatespara,
.dealspara{
  margin: 0;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.dealstittle,
.operatestittle{
 font-size: clamp(16px, 2vw, 19px);
 font-family: var(--font-medium);
}
.dealsmobile{
  display: none;
}

@media (max-width:1200px){

.sendmsg{
  display: block;
}

}
@media (max-width:992px){


.profilesection {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-right: 0px;
}
  .agentImage{
    width: 205px;
    height: 134px;
  }
}
@media (max-width:576px){
 
.bottomcontent{
  display: none;
}
.dealsmobile{
  display: block;
}

  .agentImage{
    width: 112px;
    height: 109px;
  }
  .icon {
  margin-right: 2px;
}
.viewNumber {
  padding: 8px 4px;
}
}









.quickEnquiry {
  background: var(--White);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.enquiryHeading {
  font-size: 23px;
  font-family: var(--font-medium);
  margin-bottom: 15px;
}

/* .reportBtn {
  margin-top: 15px;
  background: #fff;
  border: 1px solid #ff0000;
  color: #ff0000;
  padding: 8px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
} */



