.quickEnquiry {
  padding: 20px;
  border-radius: 10px;
}

/* :global(.modal-title) {
  font-size: 23px;
  font-family: var(--font-medium);
  margin-bottom: 15px;
}
:global(.modal-content) {
  background-color: var(--White); 
 box-shadow: 0px 2px 8px rgba(0,0,0,0.1);

} */
.customCloseBtn {
  background-color: var(--Orange-Red); /* Your desired orange color */
  color: var(--White); /* Your desired white color for the icon */
  border: none;
  border-radius: 50%; /* Make it a circular button */
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000; /* Ensure it's on top of other content */
}