.adviceandtools-container {
    padding: 80px 20px;
}

.maincontainer {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 60px;
}

.advicecard {
    width: 100%;
    max-width: 335px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f0f0;
    border-radius: 12px;
    border: 1px solid var(--Orange-Red);
}

.cardinner {
    width: 230px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.iconsection {
    width: 133.72px;
    height: 100px;
}

.iconsection img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.textsection {
    width: 230px;
    height: 111px;
}

.textcontent {
    width: 230px;
    height: 94px;
}

.advicebtndiv {
    width: 94px;
    height: 20px;
    padding: 0;
    margin: 0;
}

.propertyvaluation {
    font-family: 'poppins-semibold';
    font-size: 24px;
}

.actualvalue {
    font-family: 'poppins-regular';
    color: #343339;
}

.advicebtn {
    font-family: 'poppins-bold';
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 94px;
    height: 20px;
}

@media (max-width: 768px) {
    .adviceandtools-container {
        padding: 40px 15px;
    }
    
    /* .advicecard {
        max-width: 100%;
    } */
}
@media (max-width: 576px) {
    .advicecard {
        max-width: 100%;
    }
    
    .maincontainer {
        flex-direction: column;
        align-items: center;
    }
    
    .cardinner {
        width: 100%;
        height: auto;
    }
    
    .iconsection {
        width: 50%;
        height: auto;
    }
    
   
}
  
 
