.whychoosesection{
    width: 100%;
    background-color: var(--Floral-White);
    padding: 80px 240px;
    height: 534px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* overflow: hidden; */
    
}
.titlediv{
    width: 761px;
    height: 109px;

    /* background-color: cadetblue; */
}
.whychoosemainbody{
    width: 1440px;
    height: 205px;
    display: flex;
    justify-content: space-between;


    /* background-color: aqua; */
}
.reason1{
    width: 333px;
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* background-color: bisque; */

}
.icondiv{
    width: 60px;
    aspect-ratio: 1/1;
}
.reason1textdiv{
    width: 333px;
    height: 71px;

    /* background-color: burlywood; */
}
.highlight{
    font-family: 'poppins-semibold';
    text-align: center;
    font-size: 27px;
}
.description{
    font-family: 'poppins-regular';
    text-align: center;
    color: #00000080;
}

.reason2{
    width: 422px;
    height: 185.55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    /* background-color: bisque; */
    
}
.reason2textdiv{
    width: 422px;
    height: 107px;
    
    /* background-color: burlywood; */
}
.reason3{
    width: 333px;
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    /* background-color: bisque; */
    
}
.reason3textdiv{
    width: 333px;
    height: 121px;
    
    /* background-color: burlywood; */
}