.postClient-container{
  background-color: var(--off-white);
}

.faqAccordion {
  display: none;
}

.projectFAQ {
  display: block;
}

@media (max-width: 992px) {
  .faqAccordion {
    display: block;
  }

  .projectFAQ {
    display: none;
  }
}
