.searchbar-cts{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container {
  display: flex;
  min-width: 900px;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  background-color: var(--white);
  margin-top: 20px;
}

.dropdown .dropdown-toggle {
  cursor: pointer;
}


.full-click-area {
  cursor: pointer;
  margin: 0;
min-width: 180px;
}
.dropdown-toggle {
  width: 100%;
  justify-content: flex-start;
}
.nav-text{
 margin: 0;
   font-family: var(--font-regular);
  font-size: 14px;
 width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.dropdown-toggle i {
  color: var(--Orange-Red);
  margin: 0;
  width: 40px;
  height: 40px;
}
.icon-custom{
  color: var(--Orange-Red);

}
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
  background-color: var(--white) !important;
}

.search-input{
   border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  font-family: var(--font-regular);
  font-size: 14px;
}
.Add-city {
  padding: 4px 10px;
  border-radius: 50px;
 font-family: var(--font-regular);
 font-size: 14px;
  background-color: var(--Misty-Rose);
  font-weight: 500;
}

.vertical-line {
  border-left: 1px solid var(--Gray);
  height: 30px;
  margin: 0;
}

.custom-dropdown{
  width: 330px;
  padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  /* background-color: var(--white) !important; */
transform: translate( 5px, 25px) !important;
}
.custom-dropdown-2 {
    width: 510px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  /* background-color: var(--white) !important; */
transform: translate( 5px, 25px) !important;
padding: 0;  
}
.custom-dropdown-3 {
    width: 250px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  /* background-color: var(--white) !important; */
transform: translate( 5px, 25px) !important;  
}
.btn.search-btn {
    font-family: var(--font-regular);
  background-color: var(--Orange-Red) ;
  font-size:13.33px;
  border-radius: 30px;
  padding: 8px 20px;
}
.dropdown-item {
margin-bottom: 15px;
}
.custom-dropdown i{
    background-color: var(--Misty-Rose);
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 100%;
}

.accordion-button {
  background-color: var(--white); 
  color: var(--Eerie-Black);          
  text-decoration: none !important;
  box-shadow: none; /* optional */
}

.accordion-button:not(.collapsed) {
  background-color:var(--white); 
  color: var(--Eerie-Black);            
}
.accordion-button::after {
  filter: brightness(0) saturate(100%) invert(23%) sepia(98%) saturate(3080%) hue-rotate(356deg) brightness(101%) contrast(104%);
}

.accordion-button:not(.collapsed)::after {
  filter: brightness(0) saturate(100%) invert(23%) sepia(98%) saturate(3080%) hue-rotate(356deg) brightness(101%) contrast(104%);
}
/* Remove top border from Residential */
.accordion-item:first-child {
  border-top: none !important;
}

/* Commercial ka bottom border hata diya */
#propertyAccordion .accordion-item:nth-child(4) {
  border-bottom: none !important;
}

/* Optional: side borders bhi hata do (agar chahiye) */
#propertyAccordion .accordion-item {
  border-left: none !important;
  border-right: none !important;
}

.radio-input {
  display: none;
}

.radio-label {
  display: inline-block;
  padding: 8px 16px;
  margin: 5px 5px 0 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Selected/checked state */
.radio-input:checked + .radio-label {
  background-color: var(--Misty-Rose);
  color: var(--Eerie-Black);
  border-color: #f5c2c2;
}


.price-container {
  height: 200px;
  width: 100%;
  gap: 10px;
    overflow-y: auto;
}
 .price-text input.form-control {
  border-radius: 25px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-shadow: none;
  text-align: center;
}
.price-section {
width: 100%;
}

.price-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
}

.price-list.left-align {
  text-align: left;     /* Min */
}

.price-list.right-align {
  text-align: right;    /* Max */
}
.toggle-link {
  font-weight: 600;
  margin-bottom: 5px;
  cursor: pointer;
}

.small-search{
  display: none;
}
.circle-btn{
  display: none !important;
}
.search-container-small{
  display: none;
}
@media screen and (max-width: 992px) {
.search-container{
  display: none;
}
.search-container-small{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  background-color: var(--white);
}

.search-text::placeholder{
  color: var(--Gray);
  font-family: var(--font-regular);
  font-size: 14px;
}
.search-text{
  border: none;
  width: 100% !important;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  font-family: var(--font-regular);
  font-size: 14px;
}
.small-btn{
  margin: 0!important;
}
.circle-btn{
  display: flex !important;
  background-color: var(--Orange-Red) !important;
  border-radius: 100% !important;
  padding: 8px 10px !important;
  }
}
