@keyframes slideFadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.tab-content {
  display: none;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.tab-content.active {
  display: block;
  animation: slideFadeInLeft 0.4s ease forwards;
}


.nav {
  justify-content: center;
  margin-top: 40px;
  font-family: var(--font-medium);
  font-size: 18px;
}

.nav a {
  color: var(--Eerie-Black);
  margin: 0;
}
.nav-link {
  position: relative;
  display: inline-block;
  color: black;
  padding-bottom: 5px;
  text-decoration: none;
  transition: color 0.3s;
}
.nav-link:hover {
  color: var(--Eerie-Black);
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  border-radius: 100px;
  width: 0;
  background-color:var(--Orange-Red);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.active::after {
  width: 100%;
}

@media (max-width: 768px) {
  .nav {
    align-items: center;
    font-size: 16px;
  }

}
@media (max-width: 576px) {
  .nav {
display: none; 
 }
}
