.statsSection {
  width: 100%;
  padding: 0;
  margin: 0;
}

.backgroundImage {
  background-image: url('/Post-stats.png'); 
  background-size: cover;
  background-position: center;
  height: 425px;
  position: relative;
}

.overlayBox {
  position: absolute;
  bottom: -20px;
  left: 143px;     
  right: 143px;    
  background: var(--White);
  padding: 30px 30px 43px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  text-align: center;
}


.description {
  margin-bottom: 20px;
  padding: 13px;
  background-color: var(--off-white);
}

.statsGrid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.statItem{
    display: flex;
    border-right: 1px solid var(--Spanish-Gray);
    padding: 10px;
}
.statItem:last-child{
 border-right: none;
}

.statItem h3 {
  margin-right: 20px;
  color: #000;
}

.statItem p {
  margin: 4px 0 0;
  color: #555;
}
