/* Container */
.location-container {
  padding: 16px;
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  color: #000;
}

/* Header */
.location-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location-header-left {
  display: flex;
  align-items: center;
}

.location-title {
  margin-left: 8px;
}

.location-done {
  color: var(--Orange-Red);
}

/* Search Box */
.location-search {
  width: 100%;
  padding: 10px 0;
  margin-top: 16px;
  border: none;
  border-bottom: 1px solid var(--Cultured);
  background-color: transparent;
  color: #000;
}
input:focus {
  outline: none;
  box-shadow: none;
}

/* Section Title */
.city-section-title {
  color: var(--Eerie-Black);
  margin-top: 20px;
  margin-bottom: 8px;
}

/* City List */
.city-list {
  border-top: 1px solid var(--Cultured);
}
.loc-city-name.selected {
  /* font-weight: 600;  */
  color: var(--Orange-Red); 
}

.loc-city-name {
  padding: 12px 0;
  border-bottom: 1px solid var(--Cultured);
}

