.filter-sidebar {
  width: 100%;
  min-width: 360px;
  padding: 16px;
  background: var(--White);
  border-radius: 8px;
  overflow-y: auto;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.back-btn, .reset-btn {
  background: none;
  border: none;
  color: var(--Orange-Red);
  font-size: 16px;
  cursor: pointer;
}

.filter-section,
.filter-tags-group {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.filter-section label,
.filter-tags-group label {
  display: block;
  margin-bottom: 8px;
  font-family:var(--font-medium);
  line-height: 100%;
}
.input-location {
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var( --Spanish-Gray);
}

.budget-dropdowns {
  display: flex;
  gap: 20px;
  align-items: center;

}

.range-slider-container {
  width: 100%;
  margin-top: 15px;
}

.tag-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-span {
  background: var(--Cultured);
  border:1px solid var(--Spanish-Gray);
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  margin: 0;
}

.filter-span.selected {
  background: var(--Orange-Red);
  color: var(--White);
}

.checkbox-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.check-label {
margin-left: 5px;
}

.see-all {
  color: var(--Orange-Red);
  cursor: pointer;
  display: inline-block;
  margin-top: 8px;
}

.filter-switches {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.view-btn {
  width: 100%;
  background: var(--Orange-Red);
  color: var(--White);
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
}

.range-dropdown {
  position: relative;
  width: 120px;
}

.custom-select {
  padding: 6px 10px;
  border:1px solid var(--Spanish-Gray);
  cursor: pointer;
  background-color: var(--White);
  border-radius: 4px;
  font-size: 14px;
}

.dropdown-menu-custom {
  position: absolute;
  top: 100%;
  left: 0;
  width: 120px; /* 👈 Dropdown width control here */
  background-color: var(--White);
  border:1px solid var(--Spanish-Gray);
  max-height: 200px;
  overflow-y: auto;
  z-index: 20;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.menu-list {
  padding: 8px 10px;
  cursor: pointer;
  font-size: 14px;
  list-style: none;
}

