.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* margin-bottom: 20px; */
}

.breadcrumbItem {
  display: flex;
  align-items: center;
}

.link {
  font-size: 0.9rem;
  color: var(--Orange-Red);
  text-decoration: underline;
  transition: color 0.2s ease;
}

.separator {
  margin: 0 8px;
  color: var(--Orange-Red);
}
