
.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.panelContent {
  display: flex;
  height: 673px;
  overflow: hidden; 
}
.leftPanel {
  width: 372px;
  background-color: #f8f8f8;
  overflow-y: auto; 
}

.leftPanel .filterList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.leftPanel .filterList li {
  padding: 20px;
  cursor: pointer;
  font-size: 14px;
  color: #555;
  border-bottom: 1px solid #eee;
}
.leftPanel .filterList li.active {
  color: var(--Orange-Red);
  font-weight: 600;
  position: relative;
  background: #fff;
}

.leftPanel .filterList li.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background: var(--Orange-Red);
  border-radius: 0 12px 12px 0; 
  box-shadow: 0 0 12px rgba(251, 106, 24, 0.5);
}

.rightPanel {
  flex-grow: 1;
  padding: 21px 30px;
  overflow-y: auto; 
  background-color: #f8f8f8;

}

.filterSection {
  
  margin-bottom: 20px;
}

.filterSection h3 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #333;
}

.optionsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filterOption {
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.filterOption.active {
  background-color: var(--Orange-Red);
  color: #fff;
  border-color: var(--Orange-Red);
}
.optionsgroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


.budgetDropdowns {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  font-family: 'Inter', sans-serif;
}

.rangeDropdown {
  position: relative;
  width: 150px;
}

.customSelect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 14px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}



.customSelect:hover {
  border-color: var(--Orange-Red);
}

.dropdownMenuCustom {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  max-height: 9999px;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  z-index: 1000;
}

.menuList {
  padding: 12px 14px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  list-style: none;
  transition: background 0.2s ease, color 0.2s ease;
}

.menuList:hover {
  background-color: #f8f8f8;
  color: var(--Orange-Red);
}

@media (max-width: 768px) {

  .leftPanel {
    display: none;
  }
  .rightPanel {
    width: 100%;
  }
}