.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.panelContent {
  display: flex;
  height: 673px;
}
.leftPanel {
  width: 372px;
  background-color: var(--off-white);
  border-radius: 8px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #fb6a18 #c5c9d1;
  scrollbar-gutter: stable;
}

/* Chrome, Edge, Safari */
.leftPanel::-webkit-scrollbar {
  width: 12px;
}

.leftPanel::-webkit-scrollbar-track {
  background: #c5c9d1;
  border-radius: 6px;
}

.leftPanel::-webkit-scrollbar-thumb {
  background-color: #fb6a18;
  border-radius: 6px;
}

.leftPanel::-webkit-scrollbar-thumb:hover {
  background-color: #fb6a18 #c5c9d1;
  box-shadow: none;
  outline: none;
}

.leftPanel .filterList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.leftPanel .filterList li {
  padding: 20px;
  cursor: pointer;
  font-size: clamp(14px, 1.25vw, 18px);
  font-family: var(--font-medium);
  border-bottom: 1px solid var(--Bright-Gray);
}
.leftPanel .filterList li.active {
  color: var(--Orange-Red);
  font-family: var(--font-medium);
  position: relative;
  background: var(--White);
}

.leftPanel .filterList li.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background: var(--Orange-Red);
  border-radius: 0 12px 12px 0;
  box-shadow: 0 0 12px rgba(251, 106, 24, 0.5);
}

.rightPanel {
  padding: 21px 30px;
  overflow-y: auto;
  background-color: var(--White);
  width: 552px;
}

.filterSection {
  margin-bottom: 20px;
}

.filterTitle {
  font-size: clamp(14px, 1.25vw, 18px);
  font-family: var(--font-medium);
  margin-bottom: 15px;
}

.optionsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 100%;
  box-sizing: border-box;
}

.filterOption {
  padding: 8px 15px;
  border: 1px solid var(--Lavender-Gray);
  border-radius: 20px;
  background-color: var(--White);
  cursor: pointer;
  font-size: clamp(12px, 1vw, 14px);
  font-family: var(--font-regular);
  white-space: normal;
  word-break: break-word;
}

.filterOption.active {
  background-color: var(--Orange-Red);
  color: var(--White);
  border-color: var(--Orange-Red);
}
.optionsgroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.budgetDropdowns {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.rangeDropdown {
  position: relative;
  width: 150px;
}

.customSelect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 14px;
  font-size: clamp(12px, 1vw, 14px);
  font-weight: 500;
  color: #333;
  background-color: var(--White);
  border: 1px solid var(--Bright-Gray);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.customSelect:hover {
  border-color: var(--Orange-Red);
}

.dropdownMenuCustom {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background-color: var(--White);
  border: 1px solid var(--Bright-Gray);
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  z-index: 1000;
  padding: 0;
}

.menuList {
  padding: 12px 14px;
  font-size: clamp(12px, 1vw, 14px);
  cursor: pointer;
  list-style: none;
  transition: background 0.2s ease, color 0.2s ease;
  text-align: center;
}

.menuList:hover {
  background-color: var(--off-white);
  color: var(--Orange-Red);
}
.accordionWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--off-white);
  border-right: 1px solid var(--Bright-Gray);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #fb6a18 #c5c9d1;
  scrollbar-gutter: stable;
}

.accordionSection {
  width: 100%;
  border-bottom: 1px solid var(--Lavender-Gray);
}
.accordionHeader {
  padding: 20px;
  font-size: clamp(14px, 1.1vw, 16px);
  font-family: var(--font-medium);
  cursor: pointer;
  position: relative;
  background: var(--off-white);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.accordionHeader.active {
  color: var(--Orange-Red);
  font-family: var(--font-medium);
  background: var(--White);
}

.accordionHeader.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background: var(--Orange-Red);
  border-radius: 0 12px 12px 0;
  box-shadow: 0 0 12px rgba(251, 106, 24, 0.5);
}

.accordionContent {
  padding: 21px 30px;
  background-color: var(--off-white);
  width: 100%;
  box-sizing: border-box;
}
.footerButtons {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  padding: 16px;
  border-top: 1px solid var(--Bright-Gray);
  position: absolute;
  width: calc(100% );
  bottom: 0;
  background: var(--White);
  border-radius: 0 0 8px 8px;
}

@media (max-width: 768px) {
  .leftPanel {
    display: none;
  }
  .rightPanel {
    width: 100%;
  }
}
