.filterContainer {
  background-color: var(--Orange-Red);
  position: relative;
  overflow: visible; 
}

.filterBar {
  display: flex;
  align-items: center;
  padding: clamp(8px, 2vw, 12px) clamp(20px, 2vw, 20px);
  gap: 10px;
  /* overflow-x: auto;  
  overflow-y: visible;  */
  white-space: nowrap;
  /* -webkit-overflow-scrolling: touch; */
}

.searchGroup {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: var(--White);
  position: relative;
}

.searchDivider {
  height: 21px;
  width: 1px;
  background-color: #ccc;
}
.searchInput {
  padding: 8px 14px;
  font-size: clamp(12px, 1vw, 14px);
  outline: none;
  border-radius: 20px;
  border: none;
}

.filtersWrapper {
  display: flex;
  gap: 10px;
}

.filterDropdownWrapper {
  position: relative;
}

.filterButton {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-size: clamp(12px, 1vw, 14px);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 8px 0;
  z-index: 9999;
  min-width: 250px;
}

.dropdownItem {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}
.dropdownItem:hover {
  background: #f5f5f5;
}


.dropdownIcon {
  font-size: 14px;
  color: var(--Orange-Red);
}

.icon {
  font-size: 14px;
  color: #333;
}

.dropdown-budget,
.dropdown-bhk ,
.dropdown-propertyType {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 8px 12px;
  width: 435px;
}

.dropdown-postedBy,
.dropdown-topLocalities {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 8px 12px;
}
.dropdown-topLocalities .dropdownItem,
.dropdown-budget .dropdownItem,
.dropdown-propertyType .dropdownItem,
.dropdown-bhk .dropdownItem,
.dropdown-postedBy .dropdownItem {
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  background-color: #fff;
  padding: 8px 15px;
  text-align: center;
  width: auto;
  display: inline-block;
}

.dropdown-propertyType .dropdownItem:hover,
.dropdown-bhk .dropdownItem:hover,
.dropdown-topLocalities .dropdownItem:hover {
  background-color: #f5f5f5;
}
.groupWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.groupWrapper strong {
  font-size: 14px;
  color: #555;
  font-weight: 600;
}

.groupWrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


