.content {
  background-color: var(--White);
  border-radius: 12px;
}

.optionButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 12px;
}

.optionBtn {
  padding: 10px 18px;
  border: 1px solid var( --Spanish-Gray);
  border-radius: 20px;
  background-color: var(--White);
  cursor: pointer;
  transition: all 0.3s ease;
}

.selected {
  border-color: var(--Orange-Red);
  color: var(--Orange-Red);
  font-family: var(--font-semibold) ;
}
.radioGroup {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.radioInput {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid var(--Spanish-Gray);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  margin-right: 8px;
}

.radioInput:checked {
  border-color: var(--Orange-Red);
  background-color: var(--White);
}

.radioInput:checked::before {
  content: '';
  position: absolute;
  top: 1.5px;
  left: 1.5px;
  width: 9px;
  height: 9px;
  background-color: var(--Orange-Red);
  border-radius: 50%;
}

.subPara{
  margin-top: 24px;
}



