.wrapper {
  margin: 0 auto;
}
.sidebarCol{
    padding: 32px 0 0 48px;

}
.mainContent {
  padding: 32px 48px;
  background-color: #fff;
  border-radius: 12px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); */
}