.section {
padding: 21px  0 20px 20px;
}

.cardWrapper {
display: flex;
gap: 34px;
padding-top: 34px;
overflow-x: auto;
scroll-behavior: smooth;
scrollbar-width: none;
}
.cardWrapper::-webkit-scrollbar {
display: none; /* Chrome, Safari */
}
.card {
width: 221px;
height: 263px;
background-color: var(--White);
box-shadow: 0 2px 6px rgba(0,0,0,0.05);
display: flex;
align-items: center;
justify-content: center;
}
.preetiImg{
padding: 0px 17px;
object-fit: contain;
}