.filters {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.tabBtn {
  background: var(--White);
  color: var(--Orange-Red);
  border: none;
  padding: 6px 14px;
  border-radius: 5px;
  border: 1px solid var(--Orange-Red);
  cursor: pointer;
  font-weight: 500;

}

.activeTab {
  background: var(--Orange-Red);
  color: var(--White);
  border: none;
  padding: 6px 14px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.sortSelect {
  margin-left: auto;
  justify-self: self-end;
}

.sortBtn {
  background: var(--off-white);
  border: 1px solid var(--off-white);
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-family: var(--font-regular);
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all 0.3s ease;
}

.card {
  display: flex;
  border: 1px solid var(--Orange-Red);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  height: 244px;
}

.imageWrapper {
  display: flex;
  position: relative;
  gap: 30px;
  width: 100%;
}

.propertyimage {
  border-radius: 10px;
  width: 248px;
  height: 100%;
  object-fit: cover;
}

.tag {
  position: absolute;
  top: 8px;
  left: 8px;
  background: var(--Orange-Red);
  color: var(--White);
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 5px;
}

.bookmark {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--White);
  font-size: 18px;
  cursor: pointer;
}

.propertycontent {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: calc(100% - 278px);
}

.detailsContent {
  display: flex;
  flex-direction: column;
  /* width: 362px; */
}

.detailsContent p {
  border-bottom: 1px solid var(--Bright-Gray);
  margin-bottom: 11px;
}

.detailsContent p:last-child {
  border-bottom: none;
}

.price {
  color: var(--Apple);
  font-family: var(--font-bold);
}

.agency {
  color: var(--Orange-Red);
  font-size: clamp(14px, 1.5vw, 16px);

}

.area {
  font-size: clamp(14px, 1.5vw, 16px);

}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.request {
  border: 1px solid var(--Orange-Red);
  background: transparent;
  color: var(--Orange-Red);
  padding: 8px 12px;
  border-radius: 20px;
  font-size: clamp(12px, 1.5vw, 16px);
  font-family: var(--font-regular);
  cursor: pointer;
}

.visit {
  background: var(--Orange-Red);
  color: var(--White);
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
  font-size: clamp(12px, 1.5vw, 16px);
  font-family: var(--font-regular);

  cursor: pointer;
}

@media (max-width: 1315.98px) {
  .propertycontent {
    flex-direction: column;
    gap: 0px;
    justify-content: center;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
  }

  .detailsContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }


}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .imageWrapper {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    gap: 10px;
  }

  .propertyimage {
    width: 158px;
    height: 100%;
    object-fit: cover;
  }

  .card {
    height: 100%;
    padding: 3px;
  }

  .detailsContent p {
    margin-bottom: 5px;
  }

  .request,
  .visit {
    padding: 4px 6px;
  }

  .propertycontent {
    width: calc(100% - 158px);
  }
}

@media (max-width: 576px) {

  .propertyimage {
    width: 118px;
    height: 180px;
    object-fit: cover;
  }

  .propertycontent {
    width: calc(100% - 118px);
  }

  .request,
  .visit {
    padding: 2px 6px;
  }

}