.mobileCol {
    display: none;
}

.section {
    scroll-margin-top: 100px;
    /* adjust based on height of ProjectTabs */
}

@media (max-width:991.99px) {

    /* .smallTabCol, */
    .largeTabCol {
        display: none !important;
    }

    .mobileCol {
        display: block;
        background-color: var(--Cultured);
    }
}