.contactSection {
  display: flex;
  gap: 40px;
  padding: 40px 20px;
  flex-wrap: wrap;
}

.formWrapper {
  flex: 1;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  border-bottom: 2px solid #eee;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 60px;
  height: 3px;
  background: var(--Orange-Red);
}

.formGroup {
  display: flex;
  gap: 15px;
}

.formInput {
  flex: 1;
  border: 1px solid #ddd;
}

.infoWrapper {
  flex: 1;
}

.infoItem {
  display: flex;
  gap: 15px;
  margin: 15px 0;
}
.icon{
    font-size: 35px;
    color: var(--Tart-Orange);

}
.infoItem p {
  display: flex;
  flex-direction: column;
  font-size: 19px;
}
