.postFormContainer {
display: flex;
 justify-content: space-between;
 padding: 50px 0px;
 /* flex-wrap: wrap; */
  width: 100%;
 text-align: center;
}

.postFormLeft {
  display:flex;

}
.postFormImage {
  max-width: 100%;
  height: auto;
}

.postFormBenefitsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.postFormBenefits {
    width: 100%;
  max-width: 480px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-add{
    margin-bottom: 50px;
}
.postFormHighlight {
  color: var(--Orange-Red);
}
.postFormRight {
  width: 100%;
  max-width: 454px;
  height: 534px;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}
@media (max-width: 1270px) { 
    .postFormContainer {
         margin: 0 auto;
    justify-content: space-evenly !important;
    }
.postFormLeft {
    width: 100%;
  display: flex;
  flex-direction:column;

}
  
.postFormBenefitsWrapper{
    display: none !important;
}
.postFormBenefits {
  max-width: 100%;
  margin-top: 50px;
}
 }

