
.property-card {
background: var(--White);
border-radius: 10px;
margin-bottom: 16px;
border: 1px solid var(--Bright-Gray);
width: 852p;
}

.property-content{
border-radius: 10px  10px 0 0;
height: 139px;
padding: 15px 20px;
}

.property-img {
border-radius: 12px;
width: 100%;
height: 109px; 
object-fit: cover;
}

.property-id {
color: var(--Orange-Red);
font-size: 14px;
font-family: var(--font-regular) ;
margin-bottom: 2px;
}

.property-title {
font-size: 14px;
font-family: var(--font-regular) ;
margin-bottom: 2px;
}

.property-location {
font-size: 14px;
font-family: var(--font-regular) ;
margin-bottom: 2px;

}

.property-price {
font-size: 14px;
font-family: var(--font-regular) ;
color: var(--Slimy-Green);
}
.leftContent{
height: 100%;
border-right: 1px solid var(--Bright-Gray);
}
.Progressbar{
display: flex;
justify-content: space-around;
align-items: center;
border-right: 1px solid var(--Bright-Gray);
height: 100%;

}


.circle-progress {
display: flex;
width: 70px;
height: 70px;
}

.stats p {
font-size: 12px;
font-family: var(--font-regular);
margin: 2px 0;
}

.stats span {
color: var( --Spanish-Gray);
font-size: 12px;
font-family: var(--font-regular);
margin-left: 4px;
}
.insight-views{
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}
.insight-btn {
background: var(--Orange-Red);
border: none;
color: var(--White);
padding: 8px 16px;
border-radius: 24px;
font-size: 14px;
font-weight: 500;
cursor: pointer;
}

.created-text,
.exp-text {
font-size: 12px;
font-family: var(--font-regular);
color: var( --Spanish-Gray);
}
.date-Section{
background-color: var(--White);
border-radius: 0 0 10px  10px;
border-top: 1px solid var(--Bright-Gray);
padding: 10px 20px;
gap: 30px;
}

/* Responsive Fixes */
@media (max-width: 991.98px) {
.property-content{
height: auto;
}
.leftContent{
height: auto;
border-right: none !important
}
.Progressbar{
height: auto;
margin-top: 10px   !important;
}
.insight-views{
height: auto;
}
.property-card {
margin-bottom: 4px;
}

}

