.dashboardContainer {
  padding: 30px;
  background-color: var(--White);
}

.topSection {
  display: flex;
  gap: 30px;
  border-radius: 8px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.propertiesGrid {
  display: flex;
  gap: 2rem;
}
.propertiesGridmedia {
  display: none;
}

.loadingOverlay {
 
  width: auto;
  height: 60vh;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--Orange-Red);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media (max-width: 1162.98px) {
  .propertiesGrid {
    display: none;
  }
  .propertiesGridmedia {
    display: flex;
    gap: 2rem;
    margin-top: 30px;
  }
}
@media (max-width: 1000px) {
  .topSection {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
}
@media (max-width:768px){
  .propertiesGridmedia {
      display: flex;
flex-direction: column;
  }
}
@media (max-width:576px){
.dashboardContainer{
  background-color: transparent;
  padding: 0 ;
}
}
