.dashboardContainer {
  padding: 30px;
  background-color: var(--White);
}

.topSection {
  display: flex;
  gap: 30px;
  border-radius: 8px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.propertiesGrid {
  display: flex;
  gap: 2rem;
}
.propertiesGridmedia {
  display: none;
}
@media (max-width: 1162.98px) {
  .propertiesGrid {
    display: none;
  }
  .propertiesGridmedia {
    display: flex;
    gap: 2rem;
    margin-top: 30px;
  }
}
@media (max-width: 1000px) {
  .topSection {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
}
@media (max-width:768px){
  .propertiesGridmedia {
      display: flex;
flex-direction: column;
  }
}
@media (max-width:576px){
.dashboardContainer{
  background-color: transparent;
  padding: 0 ;
}
}
