.bankPartners {
  padding: clamp(20px, 5vw, 80px) 20px;
  text-align: center;
}

.bankList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

.bankCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--White);
  border: 1px solid var(--Bright-Gray);
  border-radius: 10px;
  padding: 15px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.left {
  display: flex;
  align-items: center;
  gap: 50px;
  flex: 0 0 40%;
}

.bankLogo {
  width: 178px;
  height: 64px;
  object-fit: contain;
}

.bankName {
  font-family: var(--font-semibold);
  font-size: clamp(14px, 1.4vw, 16px);
}
.bankDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  flex: 0 0 60%;
}
.middle {
  display: flex;
  gap: 70px;
}
.middle span {
  font-size: clamp(12px, 1.4vw, 16px);
}

.knowMore {
  border: 1px solid var(--Orange-Red);
  color: var(--Orange-Red);
  background: var(--White);
  padding: clamp(6px, 1vw, 8px) clamp(40px, 5vw, 63px);
  border-radius: 20px;
  font-size: clamp(12px, 1.4vw, 16px);
  font-family: var(--font-regular);
  cursor: pointer;
  transition: all 0.3s ease;
}

.loadMoreWrapper {
margin-top: clamp(15px, 4vw, 48px);
}

.loadMore {
  background: var(--Orange-Red);
  color: var(--White);
  border: none;
  padding: clamp(12px, 2vw, 15px) clamp(100px, 10vw, 133px);
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  font-size: clamp(12px, 1.4vw, 16px);
  transition: all 0.3s ease;
}


@media (max-width: 1199px) {
  .bankCard {
    gap: 25px;
  }
  .left {
    gap: 25px;
  }
  .middle {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .bankDetails {
    gap: 25px;
  }
}

@media (max-width: 992px) {
  .bankCard {
    gap: 15px;
  }

  .left {
    flex-direction: column;
    align-items: start;
    gap: 10px;
    flex: none;
  }

  .middle {
    gap: 5px;
  }

  .bankDetails {
    flex: none;
  }
}

@media (max-width: 654px) {
  .bankDetails {
    flex-direction: column;
    gap: 10px;
  }

  .bankLogo {
    width: 94px;
    height: 32px;
  }
}
