
.postFormCard {
  background-color: var(--White);
  padding: 60px 46px 55px 46px;
  width: 100%;
  position: relative;

}
.blobShape{
  display:inline-block;
  width: 159px;
  height: 46px;
  position: absolute;
  top: 0;
  left: 0;
}
.postformHeading{
  margin-bottom: 10px;
}
.postFormSubtitle {
  color: var(--Eerie-Black);
  margin-bottom: 25px;
}


.postFormRadioGroup {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.radioOption {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--Eerie-Black);
}

.postFormInput {
  margin-bottom: 15px;
}

.postFormSignup {
  text-align: center;
}


.postFormButton{
  margin-bottom: 25px;
}
@media (max-width: 991.98px) {
  .postFormCard {
  padding: 60px 46px 55px 46px;

}

}