

.authSubHeading {
  margin-bottom: 30px;

}
.authHeading {
  margin-bottom: 11px;
}
.authsmallHeading {
  margin-bottom: 7px;
}
.authList{
  margin-bottom: 30px;
}
.authListItem {
  margin-bottom: 10px;
}

