

.formHeading{
  margin-bottom: 10px;
}
.formSubHeading{
  margin-bottom: 25px;
}
.formSubText {
  color: var(--Gray, #666);
  font-size: 16px;
  font-family: var(--font-inter-regular), sans-serif;
  margin-bottom: 30px;
}
.formGroup{
  display: flex;
  flex-direction: column;
  min-height: 66px;
}

.formLabel {
  display: block;
  margin-bottom: 4px;
}

/* .formInput {
  margin-bottom: 15px;
} */
.formGroupBtn {
  margin-bottom: 15px;
}


.googleBtn {
  margin-bottom: 30px;
}
.googleIcon{
  margin-right: 5px;
}
.formLinks{
  text-align: center;
}

/*---------------- register ----------------*/
.radioGroup {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.radioOption {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--Eerie-Black);
  cursor: pointer;
  text-transform: capitalize;
}

.radioOption input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1.5px solid #999;
  border-radius: 50%;
  cursor: pointer;
  background-clip: content-box;
  padding: 3px; /* controls the size of the inner circle */
  margin: 0;
}

.radioOption input[type="radio"]:checked {
  background-color: var(--Orange-Red, #ff4500);
  border-color: var(--Orange-Red, #ff4500);
}

 .nextBtn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 30px;
}
.KnowLink{
  text-decoration: none !important;
}
.KnowLinkText{
  display: none !important;
}
@media (max-width: 768px) {
  .KnowLinkText{
    display: block !important;
  }

}